
@media screen and (min-width: 2500px) {
    main .content__certificados  {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 830px) and (max-width: 1290px) {
    
main .content__certificados  {
    grid-template-columns: 1fr 1fr;
}

}

@media screen and (max-width: 829px) {
    main .content__certificados  {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 300px) and (max-width: 429px) {
    main .content__certificados .certificado img {
        width: 90%;
    }

    .certificado {
        width: 100%;
    }
}