main {
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.background-sobre .text-uppercase {
  color: var(--branco);
}

.background-sobre .bold {
  margin-bottom: 8px;
}

.sobre-mim {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.background-sobre {
  background: var(--bg-principal);
  position: relative;
  width: 20rem;
  height: 33.3125rem;
  text-align: center;
  margin-right: 30px;
  box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.20);
}

.foto-de-paulo {
  margin-top: 40px;
  margin-bottom: 49px;
}

.bold {
  font-weight: 700;
  font-size: 16px;
  color: var(--branco);
}

.logos-linguagens {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--branco);
  padding: 8px 0;
  margin-top: 9px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
}

.links-sociais {
  background: var(--branco);
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.texto-sobre {
  width: 25rem;
  height: 33.3125rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.texto-sobre h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

div.texto-sobre p {
  text-align: justify;
  font-size: 1rem;
  line-height: 22px;
}

section .projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100%;
  gap: 20px;
}

.container-projetos {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;

  width: 312px;
  height: 298px;
  margin: 0 auto;
  border-radius: 1.875rem;
  border: 1px solid var(--branco);

}

.titulo-projetos {
  text-align: center;
  font-size: 20px;
}

.section-projetos {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.info-projetos {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--bg-principal);
  text-align: center;
  justify-content: center;
  height: 5.30rem;
  width: 100%;
}

.img-info-calculadora {
  height: 100%;
  width: 100%;
  background-image: url(/img/calculadora-black.png);
  background-size: cover;
  background-position: top center;
  margin-bottom: 42px;
}

.img-info-relogio-e-cronometro {
  height: 100%;
  width: 100%;
  background-image: url(/img/bg-relogio-e-cronometro.png);
  background-size: cover;
  background-position: top center;
  margin-bottom: 42px;
}

.img-info-to-do-list {
  height: 100%;
  width: 100%;
  background-image: url(/img/bg-to-do-list.png);
  background-size: cover;
  background-position: top center;

}

.img-info-petlife {
  height: 100%;
  width: 100%;
  background-image: url(/img/bg-petlife.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 1px;
}



.info-projetos p {
  margin: 12px;
  color: var(--branco);
}

.info-projetos .btn-projetos {
  background-color: var(--branco);
  border: transparent solid 1px;
  padding: 8px 10px;
  border-radius: 10px;
}

.info-projetos .btn-projetos:hover {
  padding: 8.5px 10.5px;
  
}

.info-projetos a {
  color: var(--preto);
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

div .btn-mais-projetos {

  display: flex;
  justify-content: center;
  background-color: var(--bg-principal);
  color: var(--branco);
  border: transparent solid 1px;
  width: 240px;
  padding: 18px 32px;
  border-radius: 10px;
}

div .btn-mais-projetos:hover {
  background-color: var(--terciary);
}

div .btn-mais-projetos a {
  color: var(--branco);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-principal);
  height: 4rem;
}

footer p {
  color: var(--branco);
}

footer a {
  color: var(--secudanry);
}

footer a:hover {
  opacity: 0.9;
}