:root {
    --preto: #252525;
    --cinza-claro: #D9D9D9;
    --bg-principal: #39586D;
    --secudanry: #4cc2e6;
    --terciary: #2687a5;
    --branco: #F7F7F7;
    --font: 'Inria Sans', sans-serif;
  }