# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exist on the server then don't change anything and don't run the Rule!

# não se aplica a diretórios existentes, o que significa que se a pasta existir no servidor, não altere nada e não execute a Regra!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

# Verifique o arquivo no diretório com extensão .html

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension

# Aqui mostramos a página que possui a extensão .html

RewriRule ^(.*)$ $1.html [NC,L]