@media screen and (max-width: 999px){
  div.texto-sobre a.btn-curriculo {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Smartphones */
@media screen and (min-width:320px) and (max-width: 767px) {
  .sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

  }

  .background-sobre {
    margin: 0 auto;
  }

  .bold {
    font-size: 1.8rem;
  }

  .background-sobre .text-uppercase {
    font-size: 1.8rem;
  }

  section .texto-sobre {
    text-align: center;
    width: 90%;
    height: 40rem;
  }

  div.texto-sobre p {
    text-align: center;
    margin-top: 0.4rem;
    font-size: 1.6rem;
  }

  section .projetos {
    grid-template-columns: 1fr;
  }

  section .projetos button {
    font-size: 1.4rem;
  }

  section .projetos p {
    font-size: 1.8rem;
  }

  .titulo-projetos {
    margin-bottom: 1rem;
  }

  .section-projetos {
    margin-bottom: 3rem;
  }

  .container-projetos {
    margin: 0 auto;
  }

  .container-btn {
    margin-top: 1.5rem;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 999px) {
  .sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

  }

  .background-sobre {
    margin: 0 auto;
  }

  section .texto-sobre {
    text-align: center;
    width: 90%;
    height: 30rem;

  }

  div.texto-sobre p {
    text-align: center;
    margin-top: 0.4rem;

  }

  section .projetos {
    grid-template-columns: 1fr 1fr;
  }

  .container-projetos {
    margin: 0 auto;
  }
}