main {
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.background-sobre .text-uppercase {
  color: var(--branco);
}

.background-sobre .bold {
  margin-bottom: 0.8rem;
}

.sobre-mim {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.background-sobre {
  background: var(--bg-principal);
  position: relative;
  width: 32rem;
  height: 53.2rem;
  text-align: center;
  margin-right: 3rem;
  box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.20);
}

.foto-de-paulo {
  margin-top: 4rem;
  margin-bottom: 4.9rem;
}

.bold {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--branco);
}

.logos-linguagens {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--branco);
  padding: 0.8rem 0;
  margin-top: 0.9rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  border-radius: 1.6rem;
}

.links-sociais {
  background: var(--branco);
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.texto-sobre {
  width: 25rem;
  height: 33.3125rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.texto-sobre h2 {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

div.texto-sobre p {
  text-align: justify;
  line-height: 2.2rem;
}

section .projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

section .projetos p {
  font-weight: 600;
}

.container-projetos {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;

  width: 31.2rem;
  height: 29.8rem;
  margin: 0 auto;
  border-radius: 1.875rem;
  border: 0.1rem solid var(--branco);

}

.titulo-projetos {
  text-align: center;
  font-size: 3.2rem;
}

.section-projetos {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 130rem;
}

.info-projetos {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--bg-principal);
  text-align: center;
  justify-content: center;
  height: 9.30rem;
  width: 100%;
}

.img-info-calculadora {
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/PauloAdson/portfolio/main/assets/img/bg-calculadora.png);
  background-size: cover;
  background-position: top center;
  margin-bottom: 4.2rem;
}

.img-info-relogio-e-cronometro {
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/PauloAdson/portfolio/main/assets/img/bg-relogio-e-cronometro.png);
  background-size: cover;
  background-position: top center;
  margin-bottom: 4.2rem;
}

.img-info-to-do-list {
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/PauloAdson/portfolio/main/assets/img/bg-to-do-list.png);
  background-size: cover;
  background-position: top center;

}

.img-info-petlife {
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/PauloAdson/portfolio/main/assets/img/bg-petlife.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 0.1rem;
}



.info-projetos p {
  margin: 1.2rem;
  color: var(--branco);
}

.info-projetos .btn-projetos {
  background-color: var(--branco);
  border: transparent solid 0.1rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}

.info-projetos .btn-projetos:hover {
  padding: 0.85rem 1.5rem;
}

.info-projetos a {
  color: var(--preto);
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

div .btn-mais-projetos {
  display: flex;
  justify-content: center;
  background-color: var(--bg-principal);
  color: var(--branco);
  border: transparent solid 0.1rem;
  width: 24rem;
  padding: 1.8rem 3.2rem;
  border-radius: 1rem;
  font-weight: 600;
}

div .btn-mais-projetos:hover {
  background-color: var(--terciary);
}

div .btn-mais-projetos a {
  color: var(--branco);
}