header {
    /* margin-bottom: 6rem; */
    width: 100%;
    background-color: var(--bg-principal);
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

header nav div .img-logo {
    width: 5rem;
    margin-right: 0.8rem;
}

.logo-name {
    color: var(--branco);
    font-size: 1.6rem;
}

.uppercase {
    text-transform: uppercase;
}

li a.menu-links {
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.6rem;
    z-index: 20;
}

li a.menu-links:hover {
    opacity: 0.7;
    transition: 0.3s;
}

header nav {
    max-width: 1640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0 auto;
    height: 8.5vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 3.2rem;
    font-size: 1rem;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    margin: 0.8rem;
    transition: 0.3s;
    background-color: var(--branco);
}

@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    header nav {
        height: 90px;
    }

    .img-logo {
        width: 3rem;
    }

    .nav-list {
        position: absolute;
        top: 89.4px;
        right: 0;
        height: calc(100vh - 8.5vh);
        width: 50vw;
        background: var(--bg-principal);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.nav-list.active {
    display: flex;
    transform: translateX(0);
    z-index: 10;
}

.nav-list.active li {
    opacity: 1;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Smartphone Geral */
@media screen and (min-width:320px) and (max-width: 767px) {
    .img-logo {
        display: none;
    }

    .logo-name {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .menu-links {
        font-size: 1.4rem;
    }
}