header {
    margin-bottom: 6rem;
    width: 100%;
    background-color: var(--bg-principal);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
}

header nav div .img-logo {
    width: 5rem;
    margin-right: 0.8rem;
}

.logo-name {
    color: var(--branco);
    font-size: 1.6rem;
}

.uppercase {
    text-transform: uppercase;
}

.menu-links {
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.6rem;
}

.menu-links:hover {
    opacity: 0.7;
}

header nav {
    max-width: 164rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    height: 8rem;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 3.2rem;
    font-size: 1rem;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    margin: 0.8rem;
    transition: 0.3s;
    background-color: var(--branco);
}

/* Para Smartphones */
@media screen and (min-width: 320px) and (max-width: 359px) {
    .nav-list {
        top: 12vh;
    }
}

@media screen and (min-width: 360px) and (max-width: 413px) {
    .nav-list {
        top: 9vh;
    }
}

@media screen and (min-width:414px) and (max-width: 767px) {
    .nav-list {
        top: 8vh;
    }
}

/* Smartphone Geral */
@media screen and (min-width:320px) and (max-width: 767px) {
    .img-logo {
        display: none;
    }

    .logo-name {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .menu-links {
        font-size: 1.4rem;
    }
}

/* Para Tablets */
@media screen and (min-width: 768px) and (max-width: 999px) {
    .nav-list {
        top: 6vh;
    }
}

@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    header {
        margin-bottom: 3rem;
    }

    nav {
        height: 80px;
    }

    .img-logo {
        width: 3rem;
    }

    .nav-list {
        position: absolute;
        right: 0;
        height: 94vh;
        width: 50vw;
        background: var(--bg-principal);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        /* display: none; */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.nav-list.active {
    display: flex;
    transform: translateX(0);
    z-index: 10;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}