footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-principal);
    height: 7rem;
  }
  
  footer p {
    color: var(--branco);
  }
  
  footer a {
    color: var(--secudanry);
  }
  
  footer a:hover {
    opacity: 0.9;
  }