section.projetos_main-section {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main.projetos_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    gap: 6rem;
    padding: 6rem 2rem;
}

div.projetos_main-container-title {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

h1.projetos_main-title, span.projetos_main-title-span {
    text-align: center;
}

/* ESTILIZACAO BLOCO */
div.projeto_container {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 2rem; */
    width: 100%;
    padding: 4px;

    background-color: var(--branco);
    box-sizing: border-box;
    box-shadow: 1px 5px 14px 0px var(--cinza-claro);
    border-radius: 4px;
    overflow: hidden;
}


div.projeto_container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
}

div.projeto_container-info h3.projeto_container-info-title {
    font-size: 1.6rem;
}

div.projeto_container-info p.projeto_container-content-text {
    line-height: 18px;
}

div.projeto_container-content-img-linguagens {
    box-sizing: border-box;
}

div.projeto_container-content-img-linguagens img {
    width: 34px;
    padding-right: 12px;
}

@media screen and (min-width:1000px) {

    div.projeto_container-info a.projeto_container-link {
        width: fit-content;
        text-decoration: underline;
        color: var(--terciary);
        font-weight: 700;
        font-size: 1.6rem;
    }

    div.projeto_container-info a.projeto_container-link:hover {
        color: var(--secudanry);

    }

    div.projeto_container-info a.projeto_container-link:active {
        color: var(--preto);
    }
}

@media screen and (min-width:432px) and (max-width:999px) {
    div.projeto_container {
        width: 420px;
    }
}

@media screen and (max-width:999px) {
    section.projetos_main-section {
        align-items: center;
    }

    div.projeto_container {
        flex-direction: column;
        gap: 24px;
        padding: 6px;
    }

    div.projeto_container div.projeto_container-img {
        width: auto;
    }

    div.projeto_container-info {
        align-items: center;
        gap: 32px;
        padding: 0;
    }

    div.projeto_container-info p.projeto_container-content-text {
        text-align: center;
    }

    div.projeto_container-info a.projeto_container-link {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--terciary);
        width: 240px;
        height: 40px;
        border-radius: 20px;
        color: var(--branco);
        font-weight: 600;
        margin-bottom: 24px;
    }

    div.projeto_container-info a.projeto_container-link:active {
        background-color: var(--secudanry);
    }
}

/* Backgrounds dos Projetos */
div.projeto_container-img {
    flex-shrink: 0;
    border-radius: 3px;
    width: 420px;
    height: 275px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

img.projeto_container-content-img {
    width: 100%;
    transition: transform 3s ease-in;
    transform: translateY(0);
}

img.projeto_container-content-img.curso-ebd.animate {
    transform: translateY(-61.6%);
}

img.projeto_container-content-img.maratona-vocal.animate {
    transform: translateY(-90%);
}

img.projeto_container-content-img.petlife.animate {
    transform: translateY(-73.6%);
}

img.projeto_container-content-img.consulta-votacao.animate {
    transform: translateY(-42.5%);
}

/* Backgrounds dos Projetos para smartphones*/
@media screen and (max-width:431px) {
    div.projeto_container img.projeto_container-content-img.curso-ebd.animate {
        transform: translateY(-53%);
    }

    div.projeto_container img.projeto_container-content-img.maratona-vocal.animate {
        transform: translateY(-87.5%);
    }

    div.projeto_container img.projeto_container-content-img.petlife.animate {
        transform: translateY(-67.4%);
    }

    div.projeto_container img.projeto_container-content-img.consulta-votacao.animate {
        transform: translateY(-29%);
    }
}