body {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 70vh;
    margin-bottom: 6rem;
}

section#contato {
    background-color: var(--bg-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

section#contato h2 {
    color: var(--branco);
    font-size: 24px;
    margin: 2rem;
}

section#contato form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    font-size: 17px;
    margin-bottom: 4px;
    color: var(--branco);
}

form input {
    padding: 16px;
    outline: none;
    border: 0;
    border-radius: 16px;
    margin-bottom: 20px;
    font-size: 15px;
}

form input:focus {
    background-color: #f1f1f1;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 30px;
    resize: none;
}

form textarea:focus {
    background-color: #e6e4e4;
}

form button {
    background: var(--branco);
    color: var(--preto);
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid var(--branco);
    border-radius: 16px;
    margin-bottom: 20px;
    transition: 0.5s;
}

form button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Smartphones */
@media screen and (min-width:320px) and (max-width: 767px) {
    main {
        margin-top: 4.5rem;
        height: 80vh
    }

    section#contato {
        width: auto;
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 336px) and (max-width: 413px) {
    main {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    section#contato {
        padding: 1rem;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 999px) {
    main {
        height: 80vh;
    }
}